*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    outline: none;
}
html, body {
    overflow-x: hidden;
}
body {
    font-family: 'Overpass', sans-serif;
    @include fluidText(1.05rem, 1.59rem);
    font-weight: 300;
    line-height: 1.7;
}
h1,h2,h3,h4,h5 {
    color: $darkBlue;
}
h1 {
    @include fluidText(2.1rem, 3rem);
}
h2 {
    @include fluidText(1.8rem, 2.6rem);
}
h3 {
    @include fluidText(1.65rem, 2.45rem);
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul {
    list-style: none;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn {
    font-size: 1.2rem;
    padding: .7rem 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    border-radius: 5rem;
    &.white {
        background-color: $white;
        color: $lightRed;
        &:hover,
        &:focus {
            color: $white;
            background-color: $veryLightRed;
        }
    }
    &.outline {
        color: $white;
        border: .05rem solid $white;
        &:hover,
        &:focus {
            background-color: $white;
            color: $lightRed;
        }
    }
}