//colors

$lightRed: hsl(356, 100%, 66%); //cta text
$veryLightRed: hsl(355, 100%, 74%); //cta hover bg
$darkBlue: hsl(208, 49%, 24%); //headings

$white: hsl(0, 0%, 100%); //text
$grayBlue: hsl(240, 2%, 79%); //footer text
$darkGrayBlue: hsl(207, 13%, 34%); //body copy
$darkBlackBlue: hsl(240, 10%, 16%); //footer bg

//intro/cta mobileNav gradient
$lightRedGradient: hsl(353, 100%, 62%);
$veryLightRedGradient: hsl(13, 100%, 72%);

//body gradient
$darkGrayBlueGradient: hsl(237, 17%, 21%);
$darkDesaturatedBlueGradient: hsl(237, 23%, 32%);
